[Unit]
Description="Toggle themes (day, night) for Alacritty mode"
Wants=display-manager.service
After=graphical-session.target

[Service]
Type=exec
WorkingDirectory=%h
ExecStart=/usr/bin/great-matcha/bin/toggle-mode-on-signal.sh

[Install]
WantedBy=default.target
